In [4]:
```html
<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>

    <body>
    
        <div>
            <h1>Isto é um título</h1>
            <p>Isto é um parágrafo</p>
            <a href='https://www.google.com.br'>Link do google</a>
        </div>

        <div>
            <h2>Lista não ordenada</h2>

            <ul>
                <li>Café</li>
                <li>Chá</li>
                <li>Leite</li>
            </ul>  

            <h2>Lista ordenada</h2>

            <ol>
                <li>Café</li>
                <li>Chá</li>
                <li>Leite</li>
            </ol>  
        </div>

        <div>
            <h2>Exemplo de uma tabela</h2>

            <table>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Idade</th>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
            </table> 
        </div>
        
    </body>
</html>
```

SyntaxError: invalid syntax (403376090.py, line 1)